<html>

<head>
	<style>

		body {
			background-color: black;
			color: #FFF;
		}

	</style>
	<title>Hello Symfony</title>
</head>

<body>

{% block body %}{% endblock %}

</body>

</html>